[Unit]
Description=Gunicorn instance to serve Enthic
After=network.target

[Service]
User=enthic
Group=enthic

WorkingDirectory=${REPO_DIR}
ExecStart=${REPO_DIR}/venv/bin/gunicorn --timeout 90 --workers 3 --bind unix:/var/www/enthic/enthic.sock enthic.app:application

[Install]
WantedBy=multi-user.target
